canvas {
  image-rendering: pixelated;
}

@media screen and (orientation: portrait) {
  canvas {
    min-height: calc(100vh) !important;
    width: auto !important;
  }
}

@media screen and (orientation: landscape) {
  canvas {
    min-width: calc(100vw) !important;
    height: auto !important;
  }
}
